* {
    box-sizing: border-box;
}

h1,
h2,
h3,
ul,
ol,
p,
img {
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: #bd806e;
}

body {
    background: url('../assets/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
}

h1,
h2 {
    font-family: "Great Vibes", sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

h1 {
    font-size: 3.15rem;
    color: #d2ba87;
}

.locations-box,
.program-box,
.gift-box,
.qna-box,
.contact-box {
    width: 95%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    text-align: center;
}

.cover {
    background: url('../assets/ggwedmain.jpg') no-repeat 70%   top/cover;
    height: 100vh;
    display: table;
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {

    .cover {
        background: url('../assets/ggwedmain.jpg') no-repeat top/cover;
    }

}


.cover-box {
    display: table-cell;
    vertical-align: middle;
}

.cover-text {
    text-align: center;
    background: rgba(0, 0, 0, .5);
    color: white;
    font-family: 'Libre Baskerville', sans-serif;
    padding: 0.625rem;
    margin: 0 auto;
}



.cover-date {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    vertical-align: middle;
}

.cover-date::before,
.cover-date::after {
    content: "";
    background-color: white;
    display: inline-block;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
}

.cover-tagline {
    font-size: 1.25rem;
    letter-spacing: .15rem;
}

@media (min-width: 768px) {

    .cover-text {
        padding: 1.25rem;
        border-radius: 4px;
        width: 50%;
    }

    .cover-text h1 {
        font-size: 7rem;
    }

}




.cover-tagline::after {
    display: block;
    content: "";
    background-color: white;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
}

@media (min-width: 768px) {

    .cover-tagline {
        text-transform: uppercase;
    }

}

.locations-box img,
.gift-box img {
    height: 7.5rem;
}

.locations-box h3 {
    font-weight: 700;
}

.locations-box p {
    font-family: 'Muli', sans-serif;
}

.locations::after {
    display: block;
    content: "";
    height: .1875rem;
    width: 25vw;
    margin: 1.5rem auto;
    background-color: #444349;
}

@media (min-width: 768px) {

    .locations {
        display: inline-block;
        width: 30%;
        padding: 1.5rem;
        margin: .5rem;
    }

    .locations::after {
        display: none;
    }

}

.program-box {
    width: 100%;
    text-align: left;
    background: hsla(100, 0%, 0%, .6);
    color: #d2ba87;
    font-family: 'Muli', sans-serif;
    height: 23.5rem;
}

.program-header {
    text-align: center;
    margin-top: 1rem;
}

.program-quote {
    font-style: italic;
}

@media (min-width: 768px) {

    .program-wrapper {
        width: 30vw;
        margin: 0 auto;
    }

}

ul {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.qna-box {
    width: 100%;
    text-align: left;
    background: hsla(100, 0%, 0%, .6);
    color: #d2ba87;

}

.qna-box h2 {
    margin-top: 1rem;
    text-align: center;
}

.question-category-header {
    text-align: center;
}

.qna-panels h4,
.qna-panels p {
    font-family: 'Muli', sans-serif;
}

.question {
    font-weight: 700;
    margin-bottom: .5rem;
}

.qna-panels::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 50vw;
    margin: 1.5rem auto;
    background-color: #d2ba87;
}

@media (min-width: 768px) {

    .qna-panels {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      padding: 1.5rem;
      margin: .5rem;
    }
  
    .qna-panels::after {
      display: none;
    }
  
    .qna-panels h3 {
      text-align: left;
    }
  
  }

footer {
    height: 10vh;
    width: 100%;
    background-color: #606060;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: table;
    text-align: center;
    font-size: .875rem;
}

.footer-box {
    display: table-cell;
    vertical-align: middle;
    padding: .5rem 1rem;
    line-height: 1.5;
}

footer p {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    footer {
      min-height: 7vh;
    }
  
  }

.contact-warning {
    font-weight: 700;
    font-size: 2rem;
}

@media (min-width: 768px) {

    .mobile-break {
        display: none;
    };
 
}
